@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');
@import 'tailwindcss';
@plugin 'daisyui';

@theme {
  --animate-in-fade-slide: in-fade-slide 0.2s ease-out;
  --animate-in-zoom: in-zoom 0.2s ease-out;

  @keyframes in-fade-slide {
    from {
      opacity: 0;
      transform: translateY(-0.25rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes in-zoom {
    from {
      transform: scale(0.5);
    }
    to {
      transform: scale(1);
    }
  }
}

html,
body,
#app {
  @apply h-full min-h-dvh;
}

body {
  @apply m-0 bg-slate-950 text-slate-50 antialiased;
  font-family:
    'Space Grotesk',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
